<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ site.url }}/#website",
      "url": {{ '/' | absolute_url | jsonify }},
      "name": {{ site.title | jsonify }},
      "description": {{ site.description | jsonify }},
      "publisher": {
        "@id": "{{ site.url }}/#person"
      }
    },
    {
      "@type": "Person",
      "@id": "{{ site.url }}/#person",
      "name": {{ site.social.name | default: site.name | jsonify }},
      "alternateName": ["akhaled247", "Abdullah Khaled"],
      "url": {{ '/' | absolute_url | jsonify }},
      "description": {{ site.author.bio | default: site.description | truncate: 160 | jsonify }},
      {% if site.author.location %}"address": {
        "@type": "PostalAddress",
        "addressLocality": {{ site.author.location | jsonify }}
      },{% endif %}
      {% if site.author.email %}"email": {{ site.author.email | jsonify }},{% endif %}
      {% if site.og_image %}"image": {{ site.og_image | absolute_url | jsonify }},{% endif %}
      {% if site.social.links %}"sameAs": {{ site.social.links | jsonify }}{% endif %}
    }
  ]
}
</script>
